@model LitmusWeb.Models.WeatherTypeModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-12 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">
                            @ViewBag.Title
                            @Html.ActionLink("Back To List", "Index", new { }, new { @class = "btn btn-primary btn-sm pull-right", @name = "Create" })
                        </div>
                        @using (Html.BeginForm("Create", "WeatherTypes", FormMethod.Post, new { htmlAttributes = new { @class = "form-sample" } }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-sample">
                                <div class="form-group row">
                                    @Html.LabelFor(temp => temp.Code, new { @class = "col-sm-3 col-form-label" })
                                    <div class="col-sm-9">
                                        @Html.EditorFor(temp => temp.Code, new { htmlAttributes = new { @class = "form-control", @autofocus = "true" } })
                                        @Html.ValidationMessageFor(temp => temp.Code, "", new { @class = "text-danger" })
                                    </div>

                                </div>
                                <div class="form-group row">
                                    @Html.LabelFor(temp => temp.Text, new { @class = "col-sm-3 col-form-label" })
                                    <div class="col-sm-9">
                                        @Html.EditorFor(temp => temp.Text, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(temp => temp.Text, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group row">
                                    @Html.LabelFor(temp => temp.Description, new { @class = "col-sm-3 col-form-label" })
                                    <div class="col-sm-9">
                                        @Html.EditorFor(temp => temp.Description, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(temp => temp.Description, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group row">
                                    @Html.LabelFor(temp => temp.IsActive, new { @class = "col-sm-3 col-form-label" })
                                    <div class="col-sm-9">
                                        @Html.DropDownListFor(x => x.IsActive,
                                        new SelectList(new[]
                                        {
                                            new { Value = "true", Text = "Yes" },
                                            new { Value = "false", Text = "No" }
                                        },
                                        "Value",
                                        "Text",
                                        Model
                                    ), new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(x => x.IsActive, "", new { @class = "text-red" })
                                    </div>
                                </div>
                                <input type="submit" class="btn btn-success pull-right" value="Save" />
                            </div>
                        }

                    </div>
                </div>
            </div>
            </div>
        </div>