
@model LitmusWeb.Models.DailyAnalysisModel
<div class="tab-pane fade show" id="Tab4" role="tabpanel" aria-labelledby="Tab4-tab">
    <div class="col-md-12 grid-margin stretch-card ">
        <div class="card">
            <div class="card-body">
                <div class="form-group row">
                    <div class="col-sm-3">
                        <div class="form-label-group">
                            @Html.EditorFor(model => model.ph_injection_inlet, new { htmlAttributes = new { @class = "form-control", @placeholder = "Early" } })
                            @Html.LabelFor(model => model.ph_injection_inlet)
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-label-group">
                            @Html.EditorFor(model => model.ph_injection_outlet, new { htmlAttributes = new { @class = "form-control", @placeholder = "General" } })
                            @Html.LabelFor(model => model.ph_injection_outlet)
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-label-group">
                            @Html.EditorFor(model => model.Temp_Injection_Water_Inlet, new { htmlAttributes = new { @class = "form-control", @placeholder = "General" } })
                            @Html.LabelFor(model => model.Temp_Injection_Water_Inlet)
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-label-group">
                            @Html.EditorFor(model => model.Temp_Injection_Water_Outlet, new { htmlAttributes = new { @class = "form-control", @placeholder = "General" } })
                            @Html.LabelFor(model => model.Temp_Injection_Water_Outlet)
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-3">
                        <div class="form-label-group">
                            @Html.EditorFor(model => model.average_vaccume_pan, new { htmlAttributes = new { @class = "form-control", @placeholder = "Rejected" } })
                            @Html.LabelFor(model => model.average_vaccume_pan)
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-label-group">
                            @Html.EditorFor(model => model.average_vaccume_evap, new { htmlAttributes = new { @class = "form-control", @placeholder = "Gate" } })
                            @Html.LabelFor(model => model.average_vaccume_evap)
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-label-group">
                            @Html.EditorFor(model => model.filter_water, new { htmlAttributes = new { @class = "form-control", @placeholder = "General" } })
                            @Html.LabelFor(model => model.filter_water)
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-label-group">
                            @Html.EditorFor(model => model.pan_water, new { htmlAttributes = new { @class = "form-control", @placeholder = "Rejected" } })
                            @Html.LabelFor(model => model.pan_water)
                        </div>
                    </div>
                </div>


                <div class="form-group row">
                    <div class="col-sm-3">
                        <div class="form-label-group">
                            @Html.EditorFor(model => model.cf_water, new { htmlAttributes = new { @class = "form-control", @placeholder = "Rejected" } })
                            @Html.LabelFor(model => model.cf_water)
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-label-group">
                            @Html.EditorFor(model => model.ph_boiler_feed_water, new { htmlAttributes = new { @class = "form-control", @placeholder = "Early" } })
                            @Html.LabelFor(model => model.ph_boiler_feed_water)
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-label-group">
                            @Html.EditorFor(model => model.Temp_Boiler_feed_water, new { htmlAttributes = new { @class = "form-control", @placeholder = "Early" } })
                            @Html.LabelFor(model => model.Temp_Boiler_feed_water)
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-label-group">
                            @Html.EditorFor(model => model.boiler_water, new { htmlAttributes = new { @class = "form-control", @placeholder = "General" } })
                            @Html.LabelFor(model => model.boiler_water)
                        </div>
                    </div>


                </div>
                <div class="form-group row">
                    <div class="col-sm-3">
                        <div class="form-label-group">
                            @Html.EditorFor(model => model.Exhaust_steam_press_lp, new { htmlAttributes = new { @class = "form-control", @placeholder = "Early" } })
                            @Html.LabelFor(model => model.Exhaust_steam_press_lp)
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-label-group">
                            @Html.EditorFor(model => model.Exhaust_steam_press_hp, new { htmlAttributes = new { @class = "form-control", @placeholder = "General" } })
                            @Html.LabelFor(model => model.Exhaust_steam_press_hp)
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-label-group">
                            @Html.EditorFor(model => model.boiler_steam_press_lp, new { htmlAttributes = new { @class = "form-control", @placeholder = "Rejected" } })
                            @Html.LabelFor(model => model.boiler_steam_press_lp)
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-label-group">
                            @Html.EditorFor(model => model.boiler_steam_press_hp, new { htmlAttributes = new { @class = "form-control", @placeholder = "Rejected" } })
                            @Html.LabelFor(model => model.boiler_steam_press_hp)
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-3">
                        <div class="form-label-group">
                            @Html.EditorFor(model => model.bagasse_baed, new { htmlAttributes = new { @class = "form-control", @placeholder = "Rejected" } })
                            @Html.LabelFor(model => model.bagasse_baed)
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-label-group">
                            @Html.EditorFor(model => model.bagasse_sold, new { htmlAttributes = new { @class = "form-control", @placeholder = "Early" } })
                            @Html.LabelFor(model => model.bagasse_sold)
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-label-group">
                            @Html.EditorFor(model => model.bagasse_stock, new { htmlAttributes = new { @class = "form-control", @placeholder = "General" } })
                            @Html.LabelFor(model => model.bagasse_stock)
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-label-group">
                            @Html.EditorFor(model => model.bagasse_consumed_qtl, new { htmlAttributes = new { @class = "form-control", @placeholder = "General" } })
                            @Html.LabelFor(model => model.bagasse_consumed_qtl)
                        </div>
                    </div>
                </div>

                <div class="form-group row">

                    <div class="col-sm-3">
                        <div class="form-label-group">
                            @Html.EditorFor(model => model.bagacillo_to_boiling_house, new { htmlAttributes = new { @class = "form-control", @placeholder = "General" } })
                            @Html.LabelFor(model => model.bagacillo_to_boiling_house)
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-label-group">
                            @Html.EditorFor(model => model.Steam_Fuel_Ratio, new { htmlAttributes = new { @class = "form-control", @placeholder = "Rejected" } })
                            @Html.LabelFor(model => model.Steam_Fuel_Ratio)
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-label-group">
                            @Html.EditorFor(model => model.AshSold, new { htmlAttributes = new { @class = "form-control", @placeholder = "General" } })
                            @Html.LabelFor(model => model.AshSold)
                        </div>
                    </div>
                </div>

                <div class=" form-group row">
                    <div class="col-sm-3">
                        <div class="form-label-group">
                            @Html.EditorFor(model => model.water_pan_a, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.LabelFor(model => model.water_pan_a)
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-label-group">
                            @Html.EditorFor(model => model.water_pan_b, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.LabelFor(model => model.water_pan_b)
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-label-group">
                            @Html.EditorFor(model => model.water_pan_c, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.LabelFor(model => model.water_pan_c)
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-label-group">
                            @Html.EditorFor(model => model.refinery_water_consumption, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.LabelFor(model => model.refinery_water_consumption)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
