
@model LitmusWeb.Models.DailyAnalysisModel
<div class="tab-pane fade show active" id="page_one" role="tabpanel" aria-labelledby="overview-tab">
    <div class="col-md-12 grid-margin stretch-card ">
        <div class="card">
            <div class="card-body">
                <div class="form-group row">
                    <div class="col-sm-2">
                        <div class="form-label-group">
                            @Html.EditorFor(model => model.cane_early, new { htmlAttributes = new { @class = "form-control", @placeholder = "Early" } })
                            @Html.LabelFor(model => model.cane_early)
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-label-group">
                            @Html.EditorFor(model => model.cane_general, new { htmlAttributes = new { @class = "form-control", @placeholder = "General" } })
                            @Html.LabelFor(model => model.cane_general)
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-label-group">
                            @Html.EditorFor(model => model.cane_rejected, new { htmlAttributes = new { @class = "form-control", @placeholder = "Rejected" } })
                            @Html.LabelFor(model => model.cane_rejected)
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-label-group">
                            @Html.EditorFor(model => model.cane_burnt, new { htmlAttributes = new { @class = "form-control", @placeholder = "Burnt" } })
                            @Html.LabelFor(model => model.cane_burnt)
                        </div>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-sm-2">
                        <div class="form-label-group">
                            @Html.EditorFor(model => model.cane_gate, new { htmlAttributes = new { @class = "form-control", @placeholder = "Gate" } })
                            @Html.LabelFor(model => model.cane_gate)
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-label-group">
                            @Html.EditorFor(model => model.cane_centre, new { htmlAttributes = new { @class = "form-control", @placeholder = "Centre" } })
                            @Html.LabelFor(model => model.cane_centre)
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-label-group">
                            @Html.EditorFor(model => model.cane_farm, new { htmlAttributes = new { @class = "form-control", @placeholder = "Farm" } })
                            @Html.LabelFor(model => model.cane_farm)
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-label-group">
                            @Html.EditorFor(model => model.cane_crushed, new { htmlAttributes = new { @class = "form-control", @placeholder = "Crushed" } })
                            @Html.LabelFor(model => model.cane_crushed)
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-label-group">
                            @Html.EditorFor(model => model.QuintalSyrupDiversion, new { htmlAttributes = new { @class = "form-control", @placeholder = "Quintal Syrup Diversion" } })
                            @Html.LabelFor(model => model.QuintalSyrupDiversion)
                        </div>
                    </div>
                </div>
                <div class="form-group row">

                    <div class="col-sm-2">
                        <div class="form-label-group">
                            @Html.EditorFor(model => model.total_juice, new { htmlAttributes = new { @class = "form-control", @placeholder = "Total Juice" } })
                            @Html.LabelFor(model => model.total_juice)
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-label-group">
                            @Html.EditorFor(model => model.sp_gravity, new { htmlAttributes = new { @class = "form-control", @type = "decimal", @step = "any" } })
                            @Html.LabelFor(model => model.sp_gravity)
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-label-group">
                            @Html.EditorFor(model => model.total_water, new { htmlAttributes = new { @class = "form-control", @placeholder = "Total Water" } })
                            @Html.LabelFor(model => model.total_water)
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-label-group">
                            @Html.EditorFor(model => model.press_cake, new { htmlAttributes = new { @class = "form-control", @placeholder = "Early" } })
                            @Html.LabelFor(model => model.press_cake)
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-label-group">
                            @Html.EditorFor(model => model.SugarPol, new { htmlAttributes = new { @class = "form-control", @placeholder = "Sugar Pol" } })
                            @Html.LabelFor(model => model.SugarPol)
                        </div>
                    </div>
                </div>

                <div class=" form-group row">
                    <div class="col-sm-2">
                        <div class="form-label-group">
                            @Html.EditorFor(model => model.gross_biss_sugar, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.LabelFor(model => model.gross_biss_sugar)
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-label-group">
                            @Html.EditorFor(model => model.gross_scrap_sugar, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.LabelFor(model => model.gross_scrap_sugar)
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-label-group">
                            @Html.EditorFor(model => model.gross_moist_sugar, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.LabelFor(model => model.gross_moist_sugar)
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-label-group">
                            @Html.EditorFor(model => model.gross_raw_sugar, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.LabelFor(model => model.gross_raw_sugar)
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-label-group">
                            @Html.EditorFor(model => model.gross_other_sugar, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.LabelFor(model => model.gross_other_sugar)
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-2">
                        <div class="form-label-group">
                            @Html.EditorFor(model => model.biss_sugar, new { htmlAttributes = new { @class = "form-control", @placeholder = "Crushed" } })
                            @Html.LabelFor(model => model.biss_sugar)
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-label-group">
                            @Html.EditorFor(model => model.scrap_sugar, new { htmlAttributes = new { @class = "form-control", @placeholder = "Crushed" } })
                            @Html.LabelFor(model => model.scrap_sugar)
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-label-group">
                            @Html.EditorFor(model => model.moist_sugar, new { htmlAttributes = new { @class = "form-control", @placeholder = "Crushed" } })
                            @Html.LabelFor(model => model.moist_sugar)
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-label-group">
                            @Html.EditorFor(model => model.raw_sugar, new { htmlAttributes = new { @class = "form-control", @placeholder = "Crushed" } })
                            @Html.LabelFor(model => model.raw_sugar)
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-label-group">
                            @Html.EditorFor(model => model.other_sugar, new { htmlAttributes = new { @class = "form-control", @placeholder = "Crushed" } })
                            @Html.LabelFor(model => model.other_sugar)
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-2">
                        <div class="form-label-group">
                            @Html.EditorFor(model => model.biss_molasses, new { htmlAttributes = new { @class = "form-control", @placeholder = "Early" } })
                            @Html.LabelFor(model => model.biss_molasses)
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-label-group">
                            @Html.EditorFor(model => model.scrap_molasses, new { htmlAttributes = new { @class = "form-control", @placeholder = "Early" } })
                            @Html.LabelFor(model => model.scrap_molasses)
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-label-group">
                            @Html.EditorFor(model => model.moist_molasses, new { htmlAttributes = new { @class = "form-control", @placeholder = "moist_molasses" } })
                            @Html.LabelFor(model => model.moist_molasses)
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-label-group">
                            @Html.EditorFor(model => model.raw_molasses, new { htmlAttributes = new { @class = "form-control", @placeholder = "Early" } })
                            @Html.LabelFor(model => model.raw_molasses)
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-label-group">
                            @Html.EditorFor(model => model.other_molasses, new { htmlAttributes = new { @class = "form-control", @placeholder = "Early" } })
                            @Html.LabelFor(model => model.other_molasses)
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-2">
                        <div class="form-label-group">
                            @Html.EditorFor(model => model.unknown_losses, new { htmlAttributes = new { @class = "form-control", @placeholder = "Gate" } })
                            @Html.LabelFor(model => model.unknown_losses)
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-label-group">
                            @Html.EditorFor(model => model.dirt_correction, new { htmlAttributes = new { @class = "form-control", @placeholder = "Centre" } })
                            @Html.LabelFor(model => model.dirt_correction)
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-label-group">
                            @Html.EditorFor(model => model.MolassesSentOutBHeavy, new { htmlAttributes = new { @class = "form-control", @placeholder = "Early" } })
                            @Html.LabelFor(model => model.MolassesSentOutBHeavy)
                        </div>
                    </div>

                    <div class="col-sm-2">
                        <div class="form-label-group">
                            @Html.EditorFor(model => model.MolassesSentOutCHeavy, new { htmlAttributes = new { @class = "form-control", @placeholder = "Early" } })
                            @Html.LabelFor(model => model.MolassesSentOutCHeavy)
                        </div>
                    </div>

                    <div class="col-sm-2">
                        <div class="form-label-group">
                            @Html.EditorFor(model => model.molasses_sent_out, new { htmlAttributes = new { @class = "form-control", @placeholder = "Molasses Sent Out", @readonly = "true" } })
                            @Html.LabelFor(model => model.molasses_sent_out)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Recovery Sacrify</h4>
                <div class="form-group row">
                    <div class="col-sm-2 col-form-label">
                        <label>Material Sent-out</label>
                    </div>
                    <div class="col-sm-4">
                        <div class="dropdown">
                            <select id="MaterialSentOut" name="MaterialSentOut" class="form-control">
                                <option value="0" class="dropdown-item">--Material Sent-out --</option>
                                @foreach (var i in ViewBag.MaterialSentOut)
                                {
                                    if (Model.MaterialSentOut == i.Code)
                                    {
                                        <option value="@i.Code" class="dropdown-item" selected="selected">@i.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@i.Code" class="dropdown-item">@i.Name</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-2 col-form-label">
                        <label>Sugar Type Produced</label>
                    </div>
                    <div class="col-sm-4">
                        <div class="dropdown">
                            <select id="SugarProduced" name="SugarProduced" class="form-control">
                                <option value="0" class="dropdown-item">--Sugar Type Produced --</option>
                                @foreach (var i in ViewBag.SugarProduces)
                                {
                                    if (Model.SugarProduced == i.Code)
                                    {
                                        <option value="@i.Code" class="dropdown-item" selected="selected">@i.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@i.Code" class="dropdown-item">@i.Name</option>
                                    }

                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-2" name="materiralSentOutContainer">
                        <div class="form-label-group">
                            @Html.EditorFor(model => model.CHeavyBrix, new { htmlAttributes = new { @class = "form-control", @placeholder = "C Heavy Brix" } })
                            @Html.LabelFor(model => model.CHeavyBrix)
                        </div>
                    </div>
                    <div class="col-sm-2" name="materiralSentOutContainer">
                        <div class="form-label-group">
                            @Html.EditorFor(model => model.CHeavyPol, new { htmlAttributes = new { @class = "form-control", @placeholder = "C Heavy Pol" } })
                            @Html.LabelFor(model => model.CHeavyPol)
                        </div>
                    </div>

                    <div class="col-sm-2" name="materiralSentOutContainer">
                        <div class="form-label-group">
                            @Html.EditorFor(model => model.CHeavyPurity, new { htmlAttributes = new { @class = "form-control", @placeholder = "C Heavy Purity", @readonly = "true" } })

                            @Html.LabelFor(model => model.CHeavyPurity)
                        </div>
                        @Html.ValidationMessageFor(x => x.CHeavyPurity, "", new { htmlAttributes = new { @class = "text-danger" } })
                    </div>

                    <div class="col-sm-2">
                        <div class="form-label-group">
                            @Html.EditorFor(model => model.RawSugarGainDate, new { htmlAttributes = new { @class = "form-control", @placeholder = "Raw Sugar Gain" } })
                            @Html.LabelFor(model => model.RawSugarGainDate)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>