@model LitmusWeb.Models.DailyAnalysisModel
<div class="tab-pane fade show" id="Tab5" role="tabpanel" aria-labelledby="Tab5-tab">
    <div class="col-md-12 grid-margin stretch-card ">
        <div class="card">
            <div class="card-body">
                <div class="form-group row">
                    <div class="col-sm-3">
                        <div class="form-label-group">
                            @Html.EditorFor(model => model.nm_p_index, new { htmlAttributes = new { @class = "form-control", @placeholder = "Early" } })
                            @Html.LabelFor(model => model.nm_p_index)
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-label-group">
                            @Html.EditorFor(model => model.nm_pry_ext, new { htmlAttributes = new { @class = "form-control", @placeholder = "General" } })
                            @Html.LabelFor(model => model.nm_pry_ext)
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-label-group">
                            @Html.EditorFor(model => model.om_p_index, new { htmlAttributes = new { @class = "form-control", @placeholder = "Rejected" } })
                            @Html.LabelFor(model => model.om_p_index)
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-label-group">
                            @Html.EditorFor(model => model.om_pry_ext, new { htmlAttributes = new { @class = "form-control", @placeholder = "Gate" } })
                            @Html.LabelFor(model => model.om_pry_ext)
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-3">
                        <div class="form-label-group">
                            @Html.EditorFor(model => model.temp_max, new { htmlAttributes = new { @class = "form-control", @placeholder = "Rejected" } })
                            @Html.LabelFor(model => model.temp_max)
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-label-group">
                            @Html.EditorFor(model => model.temp_min, new { htmlAttributes = new { @class = "form-control", @placeholder = "Gate" } })
                            @Html.LabelFor(model => model.temp_min)
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-label-group">
                            @Html.EditorFor(model => model.humidity, new { htmlAttributes = new { @class = "form-control", @placeholder = "Early" } })
                            @Html.LabelFor(model => model.humidity)
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-label-group">
                            @Html.EditorFor(model => model.rain_fall, new { htmlAttributes = new { @class = "form-control", @placeholder = "General" } })
                            @Html.LabelFor(model => model.rain_fall)
                        </div>
                    </div>
                </div>

                <div class="form-group row">

                    <div class="col-sm-3">
                        <div class="form-label-group">
                            @Html.EditorFor(model => model.iu_primary_juice, new { htmlAttributes = new { @class = "form-control", @placeholder = "Rejected" } })
                            @Html.LabelFor(model => model.iu_primary_juice)
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-label-group">
                            @Html.EditorFor(model => model.iu_mixed_juice, new { htmlAttributes = new { @class = "form-control", @placeholder = "Gate" } })
                            @Html.LabelFor(model => model.iu_mixed_juice)
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-label-group">
                            @Html.EditorFor(model => model.iu_clear_juice, new { htmlAttributes = new { @class = "form-control", @placeholder = "Early" } })
                            @Html.LabelFor(model => model.iu_clear_juice)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
