
@model LitmusWeb.Models.DailyAnalysisModel
<div class="tab-pane fade show" id="Tab8" role="tabpanel" aria-labelledby="Tab-8">
    <div class="col-md-12 grid-margin stretch-card ">
        <div class="card">
            <div class="card-body">
                <div class="form-group row">
                    <p class="card-description">Store Consumption</p><hr />
                    <div class="col-sm-12">
                        <div class="form-group row">
                            <div class="col-sm-3">
                                <div class="form-label-group">
                                    @Html.EditorFor(model => model.store_sulpher, new { htmlAttributes = new { @class = "form-control", @placeholder = "Crushed" } })
                                    @Html.LabelFor(model => model.store_sulpher)
                                    @Html.ValidationMessageFor(x => x.store_sulpher, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-label-group">
                                    @Html.EditorFor(model => model.store_lime, new { htmlAttributes = new { @class = "form-control", @placeholder = "Early" } })
                                    @Html.LabelFor(model => model.store_lime)
                                    @Html.ValidationMessageFor(x => x.store_lime, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-label-group">
                                    @Html.EditorFor(model => model.store_phosphoric, new { htmlAttributes = new { @class = "form-control", @placeholder = "Early" } })
                                    @Html.LabelFor(model => model.store_phosphoric)
                                    @Html.ValidationMessageFor(x => x.store_phosphoric, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-label-group">
                                    @Html.EditorFor(model => model.store_viscosity_reducer, new { htmlAttributes = new { @class = "form-control", @placeholder = "Early" } })
                                    @Html.LabelFor(model => model.store_viscosity_reducer)
                                    @Html.ValidationMessageFor(x => x.store_viscosity_reducer, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-label-group">
                                    @Html.EditorFor(model => model.store_biocide, new { htmlAttributes = new { @class = "form-control", @placeholder = "Early" } })
                                    @Html.LabelFor(model => model.store_biocide)
                                    @Html.ValidationMessageFor(x => x.store_biocide, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-label-group">
                                    @Html.EditorFor(model => model.store_color_reducer, new { htmlAttributes = new { @class = "form-control", @placeholder = "Early" } })
                                    @Html.LabelFor(model => model.store_color_reducer)
                                    @Html.ValidationMessageFor(x => x.store_color_reducer, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-label-group">
                                    @Html.EditorFor(model => model.store_megnafloe, new { htmlAttributes = new { @class = "form-control", @placeholder = "Early" } })
                                    @Html.LabelFor(model => model.store_megnafloe)
                                    @Html.ValidationMessageFor(x => x.store_megnafloe, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-label-group">
                                    @Html.EditorFor(model => model.store_lub_oil, new { htmlAttributes = new { @class = "form-control", @placeholder = "Early" } })
                                    @Html.LabelFor(model => model.store_lub_oil)
                                    @Html.ValidationMessageFor(x => x.store_lub_oil, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-label-group">
                                    @Html.EditorFor(model => model.store_lub_grease, new { htmlAttributes = new { @class = "form-control", @placeholder = "Early" } })
                                    @Html.LabelFor(model => model.store_lub_grease)
                                    @Html.ValidationMessageFor(x => x.store_lub_grease, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-label-group">
                                    @Html.EditorFor(model => model.store_boiler_chemical, new { htmlAttributes = new { @class = "form-control", @placeholder = "Early" } })
                                    @Html.LabelFor(model => model.store_boiler_chemical)
                                    @Html.ValidationMessageFor(x => x.store_boiler_chemical, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-label-group">
                                    @Html.EditorFor(model => model.store_washing_soda, new { htmlAttributes = new { @class = "form-control", @placeholder = "Early" } })
                                    @Html.LabelFor(model => model.store_washing_soda)
                                    @Html.ValidationMessageFor(x => x.store_washing_soda, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-label-group">
                                    @Html.EditorFor(model => model.store_hydrolic_acid, new { htmlAttributes = new { @class = "form-control", @placeholder = "Early" } })
                                    @Html.LabelFor(model => model.store_hydrolic_acid)
                                    @Html.ValidationMessageFor(x => x.store_hydrolic_acid, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-3">
                                <div class="form-label-group">
                                    @Html.EditorFor(model => model.store_de_scaling_chemical, new { htmlAttributes = new { @class = "form-control", @placeholder = "Crushed" } })
                                    @Html.LabelFor(model => model.store_de_scaling_chemical)
                                    @Html.ValidationMessageFor(x => x.store_de_scaling_chemical, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-label-group">
                                    @Html.EditorFor(model => model.store_seed_slurry, new { htmlAttributes = new { @class = "form-control", @placeholder = "Early" } })
                                    @Html.LabelFor(model => model.store_seed_slurry)
                                    @Html.ValidationMessageFor(x => x.store_seed_slurry, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-label-group">
                                    @Html.EditorFor(model => model.store_anti_fomer, new { htmlAttributes = new { @class = "form-control", @placeholder = "Early" } })
                                    @Html.LabelFor(model => model.store_anti_fomer)
                                    @Html.ValidationMessageFor(x => x.store_anti_fomer, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-label-group">
                                    @Html.EditorFor(model => model.store_chemical_for_brs_cleaning, new { htmlAttributes = new { @class = "form-control", @placeholder = "Early" } })
                                    @Html.LabelFor(model => model.store_chemical_for_brs_cleaning)
                                    @Html.ValidationMessageFor(x => x.store_chemical_for_brs_cleaning, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>