@using LitmusWeb.HtmlHelpers;
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">

        @*<li class="nav-item">
            <a class="nav-link" href="~/Litmus/Index">
                <i class="mdi mdi-home menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>*@
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#dashboards" aria-expanded="false" aria-controls="ui-basic">
                <i class="mdi mdi-book-open-page-variant menu-icon"></i>
                <span class="menu-title">Dashboards</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="dashboards">
                <ul class="nav flex-column sub-menu">

                    <li><span class="nav-item">@Html.ActionLink("Dashboard-1", "Index", "Litmus", new { }, new { @class = "nav-link", title = "Dashboard" })</span></li>
                    <li><span class="nav-item">@Html.ActionLink("Dashboard-2", "Index", "DashboardOne", new { }, new { @class = "nav-link", title = "Department Master", target="_blank" })</span></li>

                </ul>
            </div>
        </li>
    <!-- Master Parameters-->
                    @if (Session["UserCode"] == null)
                    {
                        Response.Redirect("index");
                    }
                    @if (Session["UserCode"].ToString() == "Admin" || Session["UserCode"].ToString() == "Pankaj")
                    {
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                                <i class="mdi mdi-database menu-icon"></i>
                                <span class="menu-title">Masters</span>
                                <i class="menu-arrow"></i>
                            </a>

                            <div class="collapse" id="ui-basic">
                                <ul class="nav flex-column sub-menu">

                                    <li><span class="nav-item">@Html.ActionLink("Company", "Index", "Company", new { }, new { @class = "nav-link", title = "Company Master" })</span></li>
                                    <li><span class="nav-item">@Html.ActionLink("Departments", "Index", "Department", new { }, new { @class = "nav-link", title = "Department Master" })</span></li>
                                    <li><span class="nav-item">@Html.ActionLink("Designations", "Index", "Designation", new { }, new { @class = "nav-link", title = "Designation Master" })</span></li>
                                    <li><span class="nav-item">@Html.ActionLink("Sugar Units", "Index", "Unit", new { }, new { @class = "nav-link", title = "Unit Master" })</span></li>
                                    <li><span class="nav-item">@Html.ActionLink("Users", "Index", "User", new { }, new { @class = "nav-link", title = "User Master" })</span></li>
                                    <li><span class="nav-item">@Html.ActionLink("Authorities", "Index", "UnitAuthority", new { }, new { @class = "nav-link", title = "UnitAuthority Master" })</span></li>
                                    <li><span class="nav-item">@Html.ActionLink("Master Menu", "Index", "MasterMenu", new { }, new { @class = "nav-link", title = "MasterMenu Master" })</span></li>
                                    <li><span class="nav-item">@Html.ActionLink("Sub Menu", "Index", "SubMenu", new { }, new { @class = "nav-link", title = "SubMenu Master" })</span></li>
                                    <li><span class="nav-item">@Html.ActionLink("Parameter Categories", "Index", "ParameterCategory", new { }, new { @class = "nav-link", title = "ParameterCategory Master" })</span></li>
                                    <li><span class="nav-item">@Html.ActionLink("Sub Parameters", "Index", "ParameterSubCategory", new { }, new { @class = "nav-link", title = "ParameterSubCategory Master" })</span></li>
                                    <li><span class="nav-item">@Html.ActionLink("Stoppage Types", "Index", "StoppageType", new { }, new { @class = "nav-link", title = "StoppageType Master" })</span></li>
                                    <li><span class="nav-item">@Html.ActionLink("Stoppage Sub Types", "Index", "StoppageSubType", new { }, new { @class = "nav-link", title = "StoppageSubType Master" })</span></li>
                                    <li><span class="nav-item">@Html.ActionLink("Season Master", "Index", "Season", new { }, new { @class = "nav-link", title = "Season Master" })</span></li>
                                    <li><span class="nav-item">@Html.ActionLink("Unit Seasons", "Index", "UnitSeason", new { }, new { @class = "nav-link", title = "Unit Season Master" })</span></li>
                                    <li><span class="nav-item">@Html.ActionLink("Vehicle Master", "Index", "Vehicle", new { }, new { @class = "nav-link", title = "User Master" })</span></li>
                                    <li><span class="nav-item">@Html.ActionLink("Weather Types", "Index", "WeatherTypes", new { }, new { @class = "nav-link", title = "User Master" })</span></li>
                                    <li><span class="nav-item">@Html.ActionLink("Process Data", "ProcessForDateRange", "ProcessCalculation", new { }, new { @class = "nav-link", title = "'Process Final Calculation' for date range" })</span></li>
                                </ul>
                            </div>

                        </li>


                        <li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" href="#ui-mobileApp" aria-expanded="false" aria-controls="ui-mobileApp">
                                <i class="mdi mdi-android menu-icon"></i>
                                <span class="menu-title">Mobile App. Master</span>
                                <i class="menu-arrow"></i>
                            </a>

                            <div class="collapse" id="ui-mobileApp">
                                <ul class="nav flex-column sub-menu">

                                    <li><span class="nav-item">@Html.ActionLink("Menues", "Index", "AndroidMenues", new { }, new { @class = "nav-link", title = "Mobile App. Menue Master" })</span></li>
                                    <li><span class="nav-item">@Html.ActionLink("User Registrations & Rights", "Index", "RegisteredDevices", new { }, new { @class = "nav-link", title = "Mobile App. Menue Master" })</span></li>
                                    <li><span class="nav-item">@Html.ActionLink("Notification Settings", "Index", "AndroidMenues", new { }, new { @class = "nav-link", title = "Mobile App. Menue Master" })</span></li>

                                </ul>
                            </div>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" href="#ui-excelTemplateFromDb" aria-expanded="false" aria-controls="ui-excelTemplateFromDb">
                                <i class="fa fa-file-excel-o menu-icon"></i>
                                <span class="menu-title">Excel Cofig. By SQL DB</span>
                                <i class="menu-arrow"></i>
                            </a>
                            <div class="collapse" id="ui-excelTemplateFromDb">
                                <ul class="nav flex-column sub-menu">
                                    <li><span class="nav-item">@Html.ActionLink("Data Types", "Index", "ExcelDataType", new { }, new { @class = "nav-link", title = "Define Custom Datatype for Excel Reports" })</span></li>
                                    <li><span class="nav-item">@Html.ActionLink("Excel Templates", "Index", "ExcelReportTemplate", new { }, new { @class = "nav-link", title = "Define Custom Datatype for Excel Reports" })</span></li>
                                    <li><span class="nav-item">@Html.ActionLink("Report Schema", "Index", "ReportSchema", new { }, new { @class = "nav-link", title = "Define Custom Datatype for Excel Reports" })</span></li>
                                </ul>
                            </div>
                            <a class="nav-link" data-toggle="collapse" href="#ui-excelTemplate" aria-expanded="false" aria-controls="ui-excelTemplate">
                                <i class="fa fa-file-excel-o menu-icon"></i>
                                <span class="menu-title">Excel config. (Using xslx)</span>
                                <i class="menu-arrow"></i>
                            </a>
                            <div class="collapse" id="ui-excelTemplate">
                                <ul class="nav flex-column sub-menu">
                                    <li><span class="nav-item">@Html.ActionLink("Download Report Data", "downloadReportData", "ExcelReportTemplate", new { }, new { @class = "nav-link", title = "Download all calculated values for reports." })</span></li>
                                    <li><span class="nav-item">@Html.ActionLink("Excel File Templates", "ListExcelFileTemplate", "ExcelReportTemplate", new { }, new { @class = "nav-link", title = "Upload Excel File to use as templates for the reports." })</span></li>
                                    <li><span class="nav-item">@Html.ActionLink("Report Schema", "Index", "ReportSchema", new { }, new { @class = "nav-link", title = "Define Custom Datatype for Excel Reports" })</span></li>
                                </ul>
                            </div>
                        </li>

                    }

                    <!-- End Master Parameters-->
                    @if (Session["UserRole"].ToString().ToUpper().Contains("UNITADMIN") || Session["UserRole"].ToString().Contains("Unit Admin"))
                    {
                        <!--Unit Parameters-->
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" href="#ui-UnitParam" aria-expanded="false" aria-controls="ui-UnitParam">
                                <i class="fa fa-gear menu-icon"></i>
                                <span class="menu-title">Unit Parameters</span>
                                <i class="menu-arrow"></i>
                            </a>
                            <div class="collapse" id="ui-UnitParam">
                                <ul class="nav flex-column sub-menu">
                                    <li><span class="nav-item">@Html.ActionLink("Unit Parametes", "Index", "UnitDailyParameter", new { }, new { @class = "nav-link", title = "Unit Parameters | For Entry Date and Processing Date." })</span></li>
                                    <li><span class="nav-item">@Html.ActionLink("Vehicle Master", "UnitVehicleMaster", "Vehicle", new { }, new { @class = "nav-link", title = "Change Average weight of Vehicle for Yard Postitons" })</span></li>
                                </ul>
                            </div>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" href="#ui-PeridocalData" aria-expanded="false" aria-controls="ui-PeridocalData">
                                <i class="fa fa-clock-o menu-icon"></i>
                                <span class="menu-title">Periodical Data</span>
                                <i class="menu-arrow"></i>
                            </a>
                            <div class="collapse" id="ui-PeridocalData">
                                <ul class="nav flex-column sub-menu">
                                    <li><span class="nav-item">@Html.ActionLink("Data Adjustment", "Index", "DataAdjustment", new { }, new { @class = "nav-link", title = "Data Adjustment" })</span></li>
                                    <li><span class="nav-item">@Html.ActionLink("Periodical Stock", "Index", "PeriodicalStock", new { }, new { @class = "nav-link", title = "Stock Data | Stock data for the period" })</span></li>
                                </ul>
                            </div>
                        </li>

                    }

                    @if (Session["UserRole"].ToString().ToUpper().Contains("CHEMIST") || Session["UserRole"].ToString().Contains("Unit Admin") || Session["UserRole"].ToString().Contains("Super Admin"))
                    {
                        <!-- Analyses Menues-->
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" href="#ui-Analysis" aria-expanded="false" aria-controls="ui-Analysis">
                                <i class="mdi mdi-flask menu-icon"></i>
                                <span class="menu-title">Analysis Entry</span>
                                <i class="menu-arrow"></i>
                            </a>
                            <div class="collapse" id="ui-Analysis">
                                <ul class="nav flex-column sub-menu">
                                    <li><span class="nav-item">@Html.ActionLink("Hourly Analysis", "Index", "HourlyAnalysis", new { }, new { @class = "nav-link", title = "Hourly Analyses Report" })</span></li>
                                    <li><span class="nav-item">@Html.ActionLink("Two Hourly Analysis", "Index", "TwoHourlyAnalysis", new { }, new { @class = "nav-link", title = "Entry for Two Hourly Analysis" })</span></li>
                                    <li><span class="nav-item">@Html.ActionLink("Massecuite Analysis", "Index", "Massecuite", new { }, new { @class = "nav-link", title = "Entry for Massecuite Analysis" })</span></li>
                                    <li><span class="nav-item">@Html.ActionLink("Molasses Analysis", "Index", "Molasses", new { }, new { @class = "nav-link", title = "Entry for Molasses Analysis" })</span></li>
                                    <li><span class="nav-item">@Html.ActionLink("Melting Analysis", "Index", "Melting", new { }, new { @class = "nav-link", title = "Entry for Melting Analysis" })</span></li>
                                    <li><span class="nav-item">@Html.ActionLink("Key Sample", "Index", "KeySample", new { }, new { @class = "nav-link", title = "Entry for Key Sample Analysis" })</span></li>
                                    <li><span class="nav-item">@Html.ActionLink("Stoppages", "Index", "Stoppage", new { }, new { @class = "nav-link", title = "Entry for Day Stoppages" })</span></li>
                                    <li><span class="nav-item">@Html.ActionLink("Daily Analysis", "Index", "DailyAnalysis", new { }, new { @class = "nav-link", title = "Entry for Stoppages" })</span></li>
                                    <li><span class="nav-item">@Html.ActionLink("Process Calculation", "Index", "ProcessCalculation", new { }, new { @class = "nav-link", title = "Process Calculation" })</span></li>
                                    <li><span class="nav-item">@Html.ActionLink("Weather", "Index", "WeatherRecords", new { }, new { @class = "nav-link", title = "Weather Records/ Rainfall" })</span></li>
                                </ul>
                            </div>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" href="#ui-CaneAnalysis" aria-expanded="false" aria-controls="ui-CaneAnalysis">
                                <i class="fa fa-pagelines menu-icon"></i>
                                <span class="menu-title">Pre-Season Activies</span>
                                <i class="menu-arrow"></i>
                            </a>
                            <div class="collapse" id="ui-CaneAnalysis">
                                <ul class="nav flex-column sub-menu">
                                    <li><span class="nav-item">@Html.ActionLink("Cane Analysis", "Index", "CaneAnalysis", new { }, new { @class = "nav-link", title = "Cane Analysis" })</span></li>
                                </ul>
                            </div>
                        </li>
                        <!-- Analyses Menues End-->
                    }

                    @*Once Authorization filters are implemented remove such if statemetns till here*@
                    <!-- Reports Menues-->
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#ui-Reports" aria-expanded="false" aria-controls="ui-Reports">
                            <i class="mdi mdi-chart-bar menu-icon"></i>
                            <span class="menu-title">Reports</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="ui-Reports">
                            <ul class="nav flex-column sub-menu">
                                <li>
                                    @*<span class="nav-item">@Html.ActionLink("Hourly Analysis View", "Index", "HourlyAnalysisReport", new { }, new { @class = "nav-link", title = "Entry for Hourly Analysis", @target = "_blank" })</span>
                                <span class="nav-item">@Html.ActionLink("Two Hourly Analysis View", "Index", "TwoHourlyAnalysisReport", new { }, new { @class = "nav-link", title = "Entry for Hourly Analysis", @target = "_blank" })</span>*@
                                    <span class="nav-item"> @Html.ActionLink("Ledger", "Index", "LedgerPrinting", new { }, new { @class = "nav-link", title = "Entry for Hourly Analysis", @target = "_blank" })</span>
                                    <span class="nav-item">@Html.ActionLink("Daily Reports", "Index", "DailyReports", new { }, new { @class = "nav-link", title = "Entry for Hourly Analysis", @target = "_blank" })</span>
                                    <span class="nav-item">@Html.ActionLink("Raw Data Download", "Index", "GenerateRawData", new { }, new { @class = "nav-link", title = "Fetch the data dump.", @target = "_blank" })</span>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#ui-GroupOperations" aria-expanded="false" aria-controls="ui-GroupOperations">
                            <i class="fa fa-globe menu-icon"></i>
                            <span class="menu-title">Group Reports</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="ui-GroupOperations">
                            <ol class="nav flex-column sub-menu">
                                <li><span class="nav-item">@Html.ActionLink("Daily Reports", "DailyHoReports", "GroupReports", new { }, new { @class = "nav-link", title = "Group Reports" })</span></li>
                            </ol>
                        </div>
                    </li>
                    <!-- Reports Menues End-->
                    <!-- Periodical Report Menu Start-->
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#ui-periodicalReport" aria-expanded="false" aria-controls="ui-periodicalReport">
                            <i class="mdi mdi-calendar-clock menu-icon"></i>
                            <span class="menu-title">Periodical Reports</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="ui-periodicalReport">
                            <ul class="nav flex-column sub-menu">
                                <li>
                                    <span class="nav-item">@Html.ActionLink("Periodical Report", "Index", "PeriodicalReport", new { }, new { @class = "nav-link", title = "Periodical Report" })</span>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <!-- Periodical Report Menu end-->
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#ui-about-us" aria-expanded="false" aria-controls="ui-Reports">
                            <i class="fa fa-desktop menu-icon"></i>
                            <span class="menu-title">About Us</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="ui-about-us">
                            <ul class="nav flex-column sub-menu">
                                <li>
                                    <span class="nav-item">@Html.ActionLink("Our Team", "Index", "AboutUs", new { }, new { @class = "nav-link", title = "About BSLIS Team", @target = "_blank" })</span>
                                    <span class="nav-item">@Html.ActionLink("Contact Us", "ContactUs", "AboutUs", new { }, new { @class = "nav-link", title = "Contact BSLIS Admin", @target = "_blank" })</span>
                                    <span class="nav-item">@Html.ActionLink("Privacy Plociy", "PrivacyPolicy", "AboutUs", new { }, new { @class = "nav-link", title = "Contact BSLIS Admin", @target = "_blank" })</span>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
</nav>
