@model IEnumerable<LitmusWeb.Models.CustomModels.CaneAnalysisViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-panel">
    <div class="content-wrapper">

        <div class="row">
           
            <div class="card">
                <nav class="navbar navbar-expand-lg navbar-info shadow  mb-2">
                    <div class="collapse navbar-collapse" id="navbar-analysis">
                        <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" role="button" aria-expanded="false" aria-current="page" href="#" data-toggle="dropdown">Analysis</a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Analysis Result", "add", new { }, new { @class = "nav-link active" })</li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" role="button" aria-expanded="false" aria-current="page" href="#" data-toggle="dropdown">Reports</a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Date Wise", "GetExcelReport", new { }, new { @class = "nav-link active" })</li>
                                    @*<li>@Html.ActionLink("Zone Wise", "add", new { }, new { @class = "nav-link active" })</li>*@
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="card-body">
                    <h4 class="card-title">
                        Pre-Season Cane Analysis
                    </h4>
                    <p class="card-description">
                        List of analysis results perfomed on cane samples.
                    </p>
                    <div class="table table-responsive">
                        <table id="order-listing" class="table table-hover display-1 nowrap">
                            <thead>
                                <tr>
                                    <th>Actions</th>
                                    <th>Sample Date</th>
                                    <th>Analysis Date</th>
                                    <th>Village Name</th>
                                    <th>Grower Name</th>
                                    <th>Father Name</th>
                                    <th>Crop Type</th>
                                    <th>Land Position</th>
                                    <th>Field Condition</th>
                                    <th>Juice Percent</th>
                                    <th>Brix</th>
                                    <th>Pol</th>
                                    <th>Purity</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                <tr>
                                    <td>@Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-xs btn-info" })</td>
                                    <td>@Html.DisplayFor(x => @item.SampleDate)</td>
                                    <td>@Html.DisplayFor(x => @item.AnalysisDate)</td>
                                    <td>@Html.DisplayFor(x => @item.VillageName)</td>
                                    <td>@Html.DisplayFor(x => @item.GrowerName)</td>
                                    <td>@Html.DisplayFor(x => @item.RelativeName)</td>
                                    <td>@Html.DisplayFor(x => @item.CaneType)</td>
                                    <td>@Html.DisplayFor(x => @item.LandPosition)</td>
                                    <td>@Html.DisplayFor(x => @item.FieldCondition)</td>
                                    <td>@Html.DisplayFor(x => @item.JuicePercent)</td>
                                    <td>@Html.DisplayFor(x => @item.Brix)</td>
                                    <td>@Html.DisplayFor(x => @item.Pol)</td>
                                    <td>@Html.DisplayFor(x => @item.Purity)</td>


                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

