@model LitmusWeb.Models.MasterSeasonModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">

                        <p class="card-description">
                            <span class="mdi mdi-database-plus menu-icon badge badge-info badge-pill">New Season Master</span>
                            @Html.ActionLink("Back to List", "Index", new { }, new { @class = " badge badge-pill badge-success mdi mdi-step-backward-2 float-right" })
                        </p>
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            <div class="forms-sample">
                                <div class="form-group">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">
                                        @Html.EditorFor(model => model.SeasonCode, new { htmlAttributes = new { @class = "form-control", placeholder = "Season Code" } })
                                        @Html.ValidationMessageFor(model => model.SeasonCode, "", new { @class = "text-danger" })

                                    </div>
                                    <div class="form-group">
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <div class="form-group">
                                            @Html.EditorFor(model => model.SeasonYear, new { htmlAttributes = new { @class = "form-control ", placeholder = "2019-20" } })
                                            @Html.ValidationMessageFor(model => model.SeasonYear, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <div class="form-group">
                                            @Html.EditorFor(model => model.IsActive, new { htmlAttributes = new { @class = "form-control", placeholder = "True/False" } })
                                            @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    

                                    <input type="submit" value="Create" class="btn btn-success btn-rounded" />
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

