@model LitmusWeb.Models.MasterDepartmentModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <p class="card-description">
                            <span class="mdi mdi-database-plus menu-icon badge badge-info badge-pill">Add New Unit</span>
                            @Html.ActionLink("Back to List", "Index", new { }, new { @class = " badge badge-pill badge-success mdi mdi-step-backward-2 float-right" })
                        </p>
                        @using (Html.BeginForm("Create", "Department", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <div class="forms-sample">
                                <div class="form-group">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                            @*@Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "form-check-label" })*@
                                        <div class="col-md-10">
                                            <label>
                                                @Html.EditorFor(model => model.IsActive, new { htmlAttributes = new { @class = "form-check-input", @type = "checkbox" } })
                                                @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "form-check-label" })
                                            </label>
                                            
                                            @*@Html.EditorFor(model => model.IsActive, new { htmlAttributes = new { @class = "form-check-input", @type = "checkbox" } })*@
                                            @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <input type="submit" id="btnSave" value="Save" class="btn btn-success btn-rounded" />
                                </div>
                            </div>
                        }
                        <div id="validationMessage" class="alert alert-danger" hidden="hidden"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>