@model IEnumerable<LitmusWeb.Models.MassecuiteAnalysModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            @Html.Partial("_PartialAnalysisDefaultValues")
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">
                            Massecuite Analysis <small>(Entries for the day)</small>
                            @Html.ActionLink("Add New", "Create", new { }, new { @class = "btn btn-sm btn-inverse-success float-right", title = "Add a new Massecuite Analysis" })
                        </h4>
                        <div id="js-grid-sortable"></div>
                        <table class="table table-bordered display nowrap" id="AnalysisDataTable-Scrollable">
                            <thead class="text-lg-center">
                                <tr>
                                    <td>Action</td>
                                    <th>Date</th>
                                    <th>Time</th>
                                    <th>Massecuite Name</th>
                                    <th>H.L</th>
                                    <th>Pan No.</th>
                                    <th>Start Time</th>
                                    <th>Drop Time</th>
                                    <th>Crystal No</th>
                                    <th>Brix</th>
                                    <th>Pol</th>
                                    <th>Purity</th>
                                    <th>Icumsa Unit</th>
                                    <th>Created Date</th>
                                    <th>Created By</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var i in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.ActionLink("Edit", "Edit", new { id = i.id }, new { @class = "btn btn-sm btn-inverse-warning" })
                                        </td>

                                        <td>@Html.DisplayFor(x => i.m_entry_date)</td>
                                        <td>@Html.DisplayFor(x => i.m_entry_time)</td>

                                        @*<td>@Html.DisplayFor(x => i.m_param_type_code)</td>*@
                                        <td>@Html.DisplayFor(x=> i.MasterCategoryName)</td>
                                        <td>@Html.DisplayFor(x => i.m_hl)</td>
                                        <td>@Html.DisplayFor(x => i.m_pan_no)</td>
                                        <td>@Html.DisplayFor(x => i.m_start_time)</td>

                                        <td>@Html.DisplayFor(x => i.m_drop_time)</td>
                                        <td>@Html.DisplayFor(x => i.m_crystal_no)</td>
                                        <td>@Html.DisplayFor(x => i.m_brix)</td>
                                        <td>@Html.DisplayFor(x => i.m_pol)</td>


                                        <td>@Html.DisplayFor(x => i.m_purity)</td>
                                        <td>@Html.DisplayFor(x => i.m_icumsa_unit)</td>
                                        <td>@Html.DisplayFor(x => i.crtd_dt)</td>
                                        <td>@Html.DisplayFor(x => i.crtd_by)</td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
