
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <div class="card-body dashboard-tabs p-0">
                <div class="tab-content py-0 px-0 border-left-0 border-bottom-0 border-right-0">
                    <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
                        <div class="d-flex flex-wrap justify-content-xl-between">
                            <div class="d-flex border-md-right flex-grow-1 align-items-center justify-content-left justify-content-md-center px-4 px-md-0 mx-1 mx-md-0 p-3 item">
                                <div class="icon-box-secondary mr-3">
                                    <i class="mdi mdi-factory"></i>
                                </div>
                                <div class="d-flex flex-column justify-content-around">
                                    <small class="mb-1 text-muted">Unit Name</small>
                                    <h5 class="mr-2 mb-0 unitName">@ViewBag.UnitName</h5>
                                </div>
                            </div>
                            <div class="d-flex border-md-right flex-grow-1 align-items-center justify-content-left justify-content-md-center px-4 px-md-0 mx-1 mx-md-0 p-3 item">
                                <div class="icon-box-secondary mr-3">
                                    <i class=" fa-spin fa fa-cog"></i>
                                </div>
                                <div class="d-flex flex-column justify-content-around">
                                    <small class="mb-1 text-muted">Season Code</small>
                                    @*<h5 class="mr-2 mb-0">@Session["CrushingSeason"]</h5>*@
                                    <h5 class="mr-2 mb-0">@ViewBag.CrushingSeason</h5>
                                </div>
                            </div>

                            <div class="d-none d-xl-flex border-md-right flex-grow-1 align-items-center justify-content-left justify-content-md-center px-4 px-md-0 mx-1 mx-md-0 p-3 item">
                                <div class="icon-box-secondary mr-3">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <div class="d-flex flex-column justify-content-around">
                                    <small class="mb-1 text-muted">Entry date</small>
                                    @*<div class="dropdown">
                                <a class="btn btn-secondary dropdown-toggle p-0 bg-transparent border-0 text-dark shadow-none font-weight-medium" href="#" role="button" id="dropdownMenuLinkA" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <h5 class="mb-0 d-inline-block">@ViewBag.EntryDate</h5>
                                </a>
                            </div>*@
                                    <h5 class="mb-0 d-inline-block">@ViewBag.EntryDate</h5>
                                </div>
                            </div>
                            <div class="d-flex py-3 border-md-right flex-grow-1 align-items-center justify-content-left justify-content-md-center px-4 px-md-0 mx-1 mx-md-0 p-3 item">
                                <div class="icon-box-secondary mr-3">
                                    <i class="mdi mdi-pine-tree text-success"></i>
                                </div>
                                <div class="d-flex flex-column justify-content-around">
                                    <small class="mb-1 text-muted">Crop Day</small>
                                    <h5 class="mr-2 mb-0">@ViewBag.CropDay</h5>
                                </div>
                            </div>
                            <div class="d-flex border-md-right flex-grow-1 align-items-center justify-content-left justify-content-md-center px-4 px-md-0 mx-1 mx-md-0 p-3 item">
                                <div class="icon-box-secondary mr-3">
                                    <i class="fa-spin fa fa-clock-o"></i>
                                </div>
                                <div class="d-flex flex-column justify-content-around">
                                    <small class="mb-1 text-muted">Entry Time</small>
                                    <h5 class="mr-2 mb-0 entryTime">@ViewBag.EntryTime</h5>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>