@model LitmusWeb.Models.CustomModels.DailyReportViewModel
@{
    ViewBag.Title = Session["UnitName"].ToString() +"- Daily Reports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-panel">
    <div class="content-wrapper">
        @*<div class="row">
                @Html.Partial("_PartialAnalysisDefaultValues")
            </div>*@
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">
                            Daily Reports (Unit - <span class="text-primary">@Session["UnitName"]</span>)
                        </h4>
                        <p class="card-description">
                            Report is available from
                            <span id="spanFromDate" class="text-danger"></span>
                            to
                            <span id="spanToDate" class="text-danger"></span>
                        </p>
                        <div class="row">
                            <div class="col-md-12">
                                @using (Html.BeginForm("Index", "DailyReports", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.Hidden("_hiddenUnitCode", Session["BaseUnitCode"]);
                                    @Html.Hidden("_hiddenSeasonCode", Session["CrushingSeason"]);
                                    @Html.Hidden("_hiddenUserCode", Session["UserCode"]);
                                    <div class="form-group row">
                                        <div class="col-sm-3 dropdown">
                                            <select id="reportUnit" name="reportUnit" class="form-control" style="border: 1px solid #999">
                                                <option value="0">--select unit--</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-3">
                                            <select id="season_code" name="season_code" class="form-control">
                                                <option value="0">---Select a Season---</option>
                                                @foreach (var x in Model.masterSeasonsModel)
                                                {
                                                    if (x.SeasonCode == (int)Session["CrushingSeason"])
                                                    {
                                                        <option value="@x.SeasonCode" selected="selected">@x.SeasonYear</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@x.SeasonCode">@x.SeasonYear</option>
                                                    }

                                                }
                                            </select>
                                        </div>
                                        <div class="col-sm-3">
                                            <input type="text" id="txtReportDate" name="txtReportDate" class="form-control datepicker" placeholder="YYYY-MM-DD" autocomplete="off" />
                                        </div>

                                        <div class="col-sm-3">
                                            <select id="report_name" name="report_name" class="form-control">
                                                <option value="0">---Select a Report---</option>
                                                @foreach (var x in Model.reportDetailsModel)
                                                {
                                                    <option value="@x.Code">@x.Name</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary float-right" name="btnSummit" id="btnSubmit">Download</button>
                                }
                                
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    
    @section scripts{
        <script src="~/Scripts/Ajax/dailyReportAjax1.0.js"></script>
        <script src="~/Scripts/Reports/dailyReport-1.1.js"></script>
    }
