@using CaptchaMvc.HtmlHelpers
@model LitmusWeb.Models.LedgerDataModel
@{

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">
                            Process calculation for the day
                        </h4>
                        @using (Html.BeginForm("Index", "ProcessCalculation", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.MathCaptcha()
                            @Html.Hidden("unit_code", Session["BaseUnitCode"]);
                            @Html.Hidden("season_code", (int)ViewBag.CrushingSeason);
                            @Html.Hidden("process_date", (String)ViewBag.ProcessDate);

                            <span class="text-danger">@ViewBag.CaptchaErrorMessage</span><br />

                            <div id="data-validation">

                            </div>
                            <div class="text-center">
                                <button type="button" id="btnProcess" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModal-2">Click to Process<i class="mdi mdi-play-circle ml-1"></i></button>
                            </div>
                            if (TempData["AutoReportStatus"] != null)
                            {
                                <div class="alert-error">
                                    @TempData["AutoReportStatus"]

                                </div>
                            }
                            <div class="modal fade" id="exampleModal-2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel-2" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel-2">Confirm Process calculation for the <b>@ViewBag.ProcessDate!</b></h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Before processing data kindly check process date in 'Sugar Unit Master'</p>
                                        </div>
                                        <div class="modal-footer">
                                            <input type="submit" value="Confirm!" class="btn btn-outline-danger" />
                                            <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                                        </div>

                                    </div>

                                </div>

                            </div>

                            if (Model != null)
                            {
                                @Html.Hidden("estimated_sugar_percent_cane", Model.estimated_sugar_percent_cane);
                                @Html.Hidden("estimated_molasses_percent_cane", Model.estimated_molasses_percent_cane);
                                @Html.Hidden("fiber_percent_cane", Model.fiber_percent_cane);
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Scripts/js/modal-demo.js"></script>

    <script src="~/Content/MainContent/vendors/sweetalert/sweetalert.min.js"></script>
    <script src="~/Scripts/js/alerts.js"></script>
    <script src="~/Scripts/Ajax/ValidationBeforeProcess.js"></script>
    @*<script src="~/Scripts/SugarAnalysisJs/ProcessCalculation.min.js"></script>*@
    <script src="~/Scripts/SugarAnalysisJs/ProcessCalculation1.1.js"></script>


