@model IEnumerable<LitmusWeb.Models.CustomModels.HourlyAnalysesViewModel>
<div class=" container-fluid tab-pane fade show active" id="HourlyData" role="tabpanel" aria-labelledby="HourlyData">
    <div class="col-md-12 grid-margin stretch-card ">
        <div class="card">
            <div class="card-body shadow">
                <form class="form-sample">
                    <div class="table-responsive">
                        <table id="order-listing" class="table table-striped">
                            <thead style="text-align:center">
                                <tr>
                                    <th rowspan="2">Action</th>
                                    <th rowspan="2">Time</th>
                                    <th colspan="3">Juice</th>
                                    <th colspan="3">Water</th>
                                    <th colspan="10">Sugar Bags</th>
                                    <th colspan="6">Yard Position</th>
                                    <th>Diverted Syrup Quantity</th>
                                </tr>
                                <tr class=" nowrap">
                                    @*<th>Action</th>*@
                                    @*<th>Entry Time</th>*@
                                    <th>N.Mill </th>
                                    <th>O.Mill </th>
                                    <th>Total </th>
                                    <th>N.Mill </th>
                                    <th>Old Mill </th>
                                    <th>Total </th>
                                    <th>L31 </th>
                                    <th>L30 </th>
                                    <th>M31</th>
                                    <th>M30</th>
                                    <th>S31</th>
                                    <th>S30</th>
                                    <th>Biss</th>
                                    <th>Total</th>
                                    <th>Exported Sugar</th>
                                    <th>Raw Sugar</th>
                                    <th>Trucks</th>
                                    <th>Trippler</th>
                                    <th>Trolley</th>
                                    <th>Cart</th>
                                    <th>Un-Crushed Cane</th>
                                    <th>Crushed Cane</th>
                                    <th>Quintals</th>


                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var i in Model)
                                {
                                    <tr>
                                        @*<td>@Html.ActionLink("Edit", "Edit", new { @id = i.id }, new { @class = "btn btn-sm btn-inverse-warning" }) </td>*@
                                        <td>
                                            <div class="dropdown">
                                                <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="ddlAnalysesModification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    Actions
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="ddlAnalysesModification">
                                                    <h6 class="dropdown-header">Actions</h6>
                                                    @Html.ActionLink("Edit", "Edit", new { @id = i.hourlyAnalysesModel.id }, new { @class = " dropdown-item btn-inverse-warning" })
                                                    @*@Html.ActionLink("Delete", "DeleteStoppage", new { id = i.id }, new { @class = " dropdown-item btn-inverse-danger" })*@
                                                    <input type="button" class="delete-button dropdown-item btn-inverse-danger" id="delete-@i.hourlyAnalysesModel.id" data-id="@i.hourlyAnalysesModel.id" value="Delete" />
                                                </div>
                                            </div>
                                        </td>
                                        <td>@i.hourlyAnalysesModel.entry_time</td>
                                        <td>@i.hourlyAnalysesModel.new_mill_juice</td>
                                        <td>@i.hourlyAnalysesModel.old_mill_juice</td>
                                        <td>@i.hourlyAnalysesModel.juice_total</td>
                                        <td>@i.hourlyAnalysesModel.new_mill_water</td>
                                        <td>@i.hourlyAnalysesModel.old_mill_water</td>
                                        <td>@i.hourlyAnalysesModel.water_total</td>
                                        <td>@i.hourlyAnalysesModel.sugar_bags_L31</td>
                                        <td>@i.hourlyAnalysesModel.sugar_bags_L30</td>
                                        <td>@i.hourlyAnalysesModel.sugar_bags_M31</td>
                                        <td>@i.hourlyAnalysesModel.sugar_bags_M30</td>
                                        <td>@i.hourlyAnalysesModel.sugar_bags_S31</td>
                                        <td>@i.hourlyAnalysesModel.sugar_bags_S30</td>
                                        <td>@i.hourlyAnalysesModel.sugar_Biss</td>
                                        <td>@i.hourlyAnalysesModel.sugar_bags_total</td>
                                        <td>@i.hourlyAnalysesModel.export_sugar</td>
                                        <td>@i.hourlyAnalysesModel.sugar_raw</td>
                                        <td>@i.hourlyAnalysesModel.standing_truck</td>
                                        <td>@i.hourlyAnalysesModel.standing_trippler</td>
                                        <td>@i.hourlyAnalysesModel.standing_trolley</td>
                                        <td>@i.hourlyAnalysesModel.standing_cart</td>
                                        <td>@i.hourlyAnalysesModel.un_crushed_cane</td>
                                        <td>@i.hourlyAnalysesModel.crushed_cane</td>
                                        <td>@i.hourlyAnalysesModel.diverted_syrup_quantity</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                    <!-- content-wrapper ends -->
                </form>
            </div>
        </div>
    </div>
</div>
