@model IEnumerable<LitmusWeb.Models.CustomModels.HourlyAnalysesViewModel>
<div class="tab-pane fade show" id="MillControlData" role="tabpanel" aria-labelledby="MillControlData">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body shadow">
                <form class="form-sample">
                    <div class="table-responsive table-hover">
                        <table id="order-listing-two" class="table table-striped table-bordered">
                            <thead class="text-lg-center">
                                <tr>
                                    <th rowspan="2">Action</th>
                                    <th rowspan="2">Time</th>
                                    <th colspan="5" style="background-color: #b9d6f9">Load</th>
                                    <th colspan="5" style="background-color: #f9dbb9">RPM</th>
                                    <th colspan="5" style="background-color: #b9d6f9">Hydraulic Pressure</th>
                                    <th colspan="8" style="background-color: #f9dbb9">Other Data</th>
                                </tr>
                                <tr class=" nowrap">
                                    <th style="background-color: #d0e4fb">Mill-1</th>
                                    <th style="background-color: #d0e4fb">Mill-2</th>
                                    <th style="background-color: #d0e4fb">Mill-3</th>
                                    <th style="background-color: #d0e4fb">Mill-4</th>
                                    <th style="background-color: #d0e4fb">Mill-5</th>
                                    <th style="background-color: #fbe7d0">Mill-1</th>
                                    <th style="background-color: #fbe7d0">Mill-2</th>
                                    <th style="background-color: #fbe7d0">Mill-3</th>
                                    <th style="background-color: #fbe7d0">Mill-4</th>
                                    <th style="background-color: #fbe7d0">Mill-5</th>
                                    <th style="background-color: #d0e4fb">Mill-1</th>
                                    <th style="background-color: #d0e4fb">Mill-2</th>
                                    <th style="background-color: #d0e4fb">Mill-3</th>
                                    <th style="background-color: #d0e4fb">Mill-4</th>
                                    <th style="background-color: #d0e4fb">Mill-5</th>
                                    <th style="background-color: #fbe7d0">Imbibition Water Temp. </th>
                                    <th style="background-color: #fbe7d0">Exhaust Steam Temp. </th>
                                    <th style="background-color: #fbe7d0">Biocide Dosing </th>
                                    <th style="background-color: #fbe7d0">Mill Washing </th>
                                    <th style="background-color: #fbe7d0">Mill Steaming </th>
                                    <th style="background-color: #fbe7d0">Sugar Bags Temp. </th>
                                    <th style="background-color: #fbe7d0">Mol. Inlet Temp. </th>
                                    <th style="background-color: #fbe7d0">Mol. Outlet Temp.</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var i in Model)
                                {
                                    <tr>
                                        @*<td>@Html.ActionLink("Edit", "Edit", new { @id = i.id }, new { @class = "btn btn-sm btn-inverse-warning" }) </td>*@
                                        <td>
                                            <div class="dropdown">
                                                <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="ddlAnalysesModification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    Actions
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="ddlAnalysesModification">
                                                    <h6 class="dropdown-header">Actions</h6>
                                                    @Html.ActionLink("Edit", "EditMillControlData", new { @id = i.MillControlModel.Id }, new { @class = " dropdown-item btn-inverse-warning" })
                                                    @*<input type="button" class="delete-button dropdown-item btn-inverse-danger" id="delete-@i.MillControlModel.Id" data-id="@i.MillControlModel.Id" value="Delete" />*@
                                                </div>
                                            </div>
                                        </td>
                                        <td >@i.MillControlModel.entry_time</td>
                                        <td style="background-color: #e8f1fd">@i.MillControlModel.mill_load_one</td>
                                        <td style="background-color: #e8f1fd">@i.MillControlModel.mill_load_two</td>
                                        <td style="background-color: #e8f1fd">@i.MillControlModel.mill_load_three</td>
                                        <td style="background-color: #e8f1fd">@i.MillControlModel.mill_load_four</td>
                                        <td style="background-color: #e8f1fd">@i.MillControlModel.mill_load_five</td>

                                        <td style="background-color: #fdf3e8">@i.MillControlModel.mill_rpm_one</td>
                                        <td style="background-color: #fdf3e8">@i.MillControlModel.mill_rpm_two</td>
                                        <td style="background-color: #fdf3e8">@i.MillControlModel.mill_rpm_three</td>
                                        <td style="background-color: #fdf3e8">@i.MillControlModel.mill_rpm_four</td>
                                        <td style="background-color: #fdf3e8">@i.MillControlModel.mill_rpm_five</td>

                                        <td style="background-color: #e8f1fd">@i.MillControlModel.mill_hydraulic_pressure_one</td>
                                        <td style="background-color: #e8f1fd">@i.MillControlModel.mill_hydraulic_pressure_two</td>
                                        <td style="background-color: #e8f1fd">@i.MillControlModel.mill_hydraulic_pressure_three</td>
                                        <td style="background-color: #e8f1fd">@i.MillControlModel.mill_hydraulic_pressure_four</td>
                                        <td style="background-color: #e8f1fd">@i.MillControlModel.mill_hydraulic_pressure_five</td>

                                        <td style="background-color: #fdf3e8">@i.MillControlModel.imbibition_water_temp</td>
                                        <td style="background-color: #fdf3e8">@i.MillControlModel.exhaust_steam_temp</td>
                                        <td style="background-color: #fdf3e8">@(i.MillControlModel.mill_biocide_dosing == true ? "Yes" : "No") </td>
                                        <td style="background-color: #fdf3e8">@(i.MillControlModel.mill_washing == true ? "Yes" : "No")</td>
                                        <td style="background-color: #fdf3e8">@(i.MillControlModel.mill_steaming == true ? "Yes" : "No")</td>
                                        <td style="background-color: #fdf3e8">@i.MillControlModel.sugar_bags_temp</td>
                                        <td style="background-color: #fdf3e8">@i.MillControlModel.molasses_inlet_temp</td>
                                        <td style="background-color: #fdf3e8">@i.MillControlModel.molasses_outlet_temp</td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- content-wrapper ends -->
                </form>

            </div>
        </div>
    </div>
</div>