@model  LitmusWeb.Models.DataAdjustmentsModel
@{
    ViewBag.Title = Session["UnitName"].ToString()+ "- Data Adjustment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            @Html.Partial("_PartialAnalysisDefaultValues")
        </div>
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    @using (Html.BeginForm("Add", "DataAdjustment", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken();
                        <p class="card-description text-primary">
                            Data Adjustments
                            @Html.ActionLink("Show Data Adjustment List", "Index", new { }, new { @class = " btn btn-primary btn-sm float-right" })
                            @Html.Hidden("a_unit_code", Convert.ToInt16(Session["BaseUnitCode"]))
                            @if (ViewBag.CrushingSeason != null)
                            {
                                int currentSeason = ViewBag.CrushingSeason;
                                @Html.Hidden("a_season_code", currentSeason)
                            }
                        </p>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <div class="col-sm-4">
                                        <div class="form-label-group">
                                            @Html.EditorFor(@x => x.a_entry_date, new { htmlAttributes = new { @class = "form-control", @placeholder = "Entry Time", @type = "Date" } })
                                            @Html.ValidationMessageFor(@x => x.a_entry_date, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <div class="col-sm-4">
                                        <div class="form-label-group">
                                            @Html.EditorFor(@x => x.a_sulpher, new { htmlAttributes = new { @class = "form-control", @placeholder = "Sulphur" } })
                                            @Html.LabelFor(@x => x.a_sulpher)
                                            @Html.ValidationMessageFor(@x => x.a_sulpher, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-label-group">
                                            @Html.EditorFor(@x => x.a_lime, new { htmlAttributes = new { @class = "form-control", @placeholder = "Lime" } })
                                            @Html.LabelFor(@x => x.a_lime)
                                            @Html.ValidationMessageFor(@x => x.a_lime, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-label-group">
                                            @Html.EditorFor(@x => x.a_phosphoric_acid, new { htmlAttributes = new { @class = "form-control", @placeholder = "Phosphoric acid" } })
                                            @Html.LabelFor(@x => x.a_phosphoric_acid)
                                            @Html.ValidationMessageFor(@x => x.a_phosphoric_acid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <div class="col-sm-4">
                                        <div class="form-label-group">
                                            @Html.EditorFor(@x => x.a_color_reducer, new { htmlAttributes = new { @class = "form-control", @placeholder = "Sulphur" } })
                                            @Html.LabelFor(@x => x.a_color_reducer)
                                            @Html.ValidationMessageFor(@x => x.a_color_reducer, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-label-group">
                                            @Html.EditorFor(@x => x.a_megnafloe, new { htmlAttributes = new { @class = "form-control", @placeholder = "Lime" } })
                                            @Html.LabelFor(@x => x.a_megnafloe)
                                            @Html.ValidationMessageFor(@x => x.a_megnafloe, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-label-group">
                                            @Html.EditorFor(@x => x.a_lub_oil, new { htmlAttributes = new { @class = "form-control", @placeholder = "Phosphoric acid" } })
                                            @Html.LabelFor(@x => x.a_lub_oil)
                                            @Html.ValidationMessageFor(@x => x.a_lub_oil, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <div class="col-sm-4">
                                        <div class="form-label-group">
                                            @Html.EditorFor(@x => x.a_viscosity_reducer, new { htmlAttributes = new { @class = "form-control", @placeholder = "Viscosity Reducer" } })
                                            @Html.LabelFor(@x => x.a_viscosity_reducer)
                                            @Html.ValidationMessageFor(@x => x.a_viscosity_reducer, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-label-group">
                                            @Html.EditorFor(@x => x.a_biocide, new { htmlAttributes = new { @class = "form-control", @placeholder = "Biocide" } })
                                            @Html.LabelFor(@x => x.a_biocide)
                                            @Html.ValidationMessageFor(@x => x.a_biocide, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-label-group">
                                            @Html.EditorFor(@x => x.a_lub_greace, new { htmlAttributes = new { @class = "form-control", @placeholder = "Lub Greace" } })
                                            @Html.LabelFor(@x => x.a_lub_greace)
                                            @Html.ValidationMessageFor(@x => x.a_lub_greace, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <div class="col-sm-4">
                                        <div class="form-label-group">
                                            @Html.EditorFor(@x => x.a_boiler_chemical, new { htmlAttributes = new { @class = "form-control", @placeholder = "Boiler Chemical" } })
                                            @Html.LabelFor(@x => x.a_boiler_chemical)
                                            @Html.ValidationMessageFor(@x => x.a_boiler_chemical, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-label-group">
                                            @Html.EditorFor(@x => x.a_washing_soda, new { htmlAttributes = new { @class = "form-control", @placeholder = "Washing Soda" } })
                                            @Html.LabelFor(@x => x.a_washing_soda)
                                            @Html.ValidationMessageFor(@x => x.a_washing_soda, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-label-group">
                                            @Html.EditorFor(@x => x.a_hydrolic_soda, new { htmlAttributes = new { @class = "form-control", @placeholder = "Hydrolic Soda" } })
                                            @Html.LabelFor(@x => x.a_hydrolic_soda)
                                            @Html.ValidationMessageFor(@x => x.a_hydrolic_soda, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <div class="col-sm-4">
                                        <div class="form-label-group">
                                            @Html.EditorFor(@x => x.a_de_scaling_chemical, new { htmlAttributes = new { @class = "form-control", @placeholder = "D-scaling Chemical" } })
                                            @Html.LabelFor(@x => x.a_de_scaling_chemical)
                                            @Html.ValidationMessageFor(@x => x.a_de_scaling_chemical, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-label-group">
                                            @Html.EditorFor(@x => x.a_seed_slurry, new { htmlAttributes = new { @class = "form-control", @placeholder = "Slurry Seed" } })
                                            @Html.LabelFor(@x => x.a_seed_slurry)
                                            @Html.ValidationMessageFor(@x => x.a_seed_slurry, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-label-group">
                                            @Html.EditorFor(@x => x.a_anti_fomer, new { htmlAttributes = new { @class = "form-control", @placeholder = "Anti-Foamer" } })
                                            @Html.LabelFor(@x => x.a_anti_fomer)
                                            @Html.ValidationMessageFor(@x => x.a_anti_fomer, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <div class="col-sm-4">
                                        <div class="form-label-group">
                                            @Html.EditorFor(@x => x.a_chemical_for_brs_cleaning, new { htmlAttributes = new { @class = "form-control", @placeholder = "Chem BRS Cleaning" } })
                                            @Html.LabelFor(@x => x.a_chemical_for_brs_cleaning)
                                            @Html.ValidationMessageFor(@x => x.a_chemical_for_brs_cleaning, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-label-group">
                                            @Html.EditorFor(@x => x.a_estimated_sugar, new { htmlAttributes = new { @class = "form-control", @placeholder = "Estimated Sugar" } })
                                            @Html.LabelFor(@x => x.a_estimated_sugar)
                                            @Html.ValidationMessageFor(@x => x.a_estimated_sugar, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-label-group">
                                            @Html.EditorFor(@x => x.a_estimated_molasses, new { htmlAttributes = new { @class = "form-control", @placeholder = "Estimated Molasses" } })
                                            @Html.LabelFor(@x => x.a_estimated_molasses)
                                            @Html.ValidationMessageFor(@x => x.a_estimated_molasses, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-label-group">
                                        @Html.EditorFor(@x => x.EstimatedCaneForSyrupDiversion, new { htmlAttributes = new { @class = "form-control", @placeholder = "Estimated Molasses" } })
                                        @Html.LabelFor(@x => x.EstimatedCaneForSyrupDiversion)
                                        @Html.ValidationMessageFor(@x => x.EstimatedCaneForSyrupDiversion, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>


                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <button type="reset" class="btn btn-success  float-right mr-2" title="Clear">Clear</button>
                                        <button type="submit" class="btn btn-danger  float-right mr-2" title="Save">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-sm-12">
                                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <link href="~/Content/MainContent/css/floating-labels.css" rel="stylesheet" />
