
@model LitmusWeb.Models.DailyAnalysisModel
<div class="tab-pane fade show" id="Tab9" role="tabpanel" aria-labelledby="Tab-9">
    <div class="col-md-12 grid-margin stretch-card ">
        <div class="card">
            <div class="card-body">
                <div class="form-group row">
                    <p class="card-description">Distillery</p><hr />
                    <div class="col-sm-12">
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <div class="form-label-group">
                                    @Html.EditorFor(model => model.PowerToDitillery, new { htmlAttributes = new { @class = "form-control", @placeholder = "Power To  Distillery" } })
                                    @Html.LabelFor(model => model.PowerToDitillery)
                                    @Html.ValidationMessageFor(model => model.PowerToDitillery, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <!--Cane Syrup-->
                        <div class="form-group row">
                            <div class="col-sm-4">
                                <div class="form-label-group">
                                    @Html.EditorFor(model => model.AlcoholFromCaneSyrup, new { htmlAttributes = new { @class = "form-control readonly" } })
                                    @Html.LabelFor(model => model.AlcoholFromCaneSyrup)
                                    @Html.ValidationMessageFor(model => model.AlcoholFromCaneSyrup, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-label-group">
                                    @Html.EditorFor(model => model.AbsoluteAlcoholFromSyrupDayRecovery, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.LabelFor(model => model.AbsoluteAlcoholFromSyrupDayRecovery)
                                    @Html.ValidationMessageFor(model => model.AbsoluteAlcoholFromSyrupDayRecovery, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-label-group">
                                    @Html.EditorFor(model => model.AbsoluteAlcoholFromSyrupToDateRecovery, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.LabelFor(model => model.AbsoluteAlcoholFromSyrupToDateRecovery)
                                    @Html.ValidationMessageFor(model => model.AbsoluteAlcoholFromSyrupToDateRecovery, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <!--Rectified Spirit-->
                        <div class="form-group row">
                            <div class="col-sm-4">
                                <div class="form-label-group">
                                    @Html.EditorFor(model => model.RectifiedSpirit, new { htmlAttributes = new { @class = "form-control", @placeholder = "Rectified Spirit" } })
                                    @Html.LabelFor(model => model.RectifiedSpirit)
                                    @Html.ValidationMessageFor(model => model.RectifiedSpirit, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-label-group">
                                    @Html.EditorFor(model => model.RectifiedSpiritDayRecover, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.LabelFor(model => model.RectifiedSpiritDayRecover)
                                    @Html.ValidationMessageFor(model => model.RectifiedSpiritDayRecover, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-label-group">
                                    @Html.EditorFor(model => model.RectifiedSpiritToDateRecovery, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.LabelFor(model => model.RectifiedSpiritToDateRecovery)
                                    @Html.ValidationMessageFor(model => model.RectifiedSpiritToDateRecovery, "", new { @class = "text-danger" })
                                </div>
                            </div>

                        </div>
                        <!--Ethanol-->
                        <div class="form-group row">

                            <div class="col-sm-4">
                                <div class="form-label-group">
                                    @Html.EditorFor(model => model.Ethanol, new { htmlAttributes = new { @class = "form-control", @placeholder = "Ethanol" } })
                                    @Html.LabelFor(model => model.Ethanol)
                                    @Html.ValidationMessageFor(model => model.Ethanol, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-label-group">
                                    @Html.EditorFor(model => model.EthanolDayRecovery, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.LabelFor(model => model.EthanolDayRecovery)
                                    @Html.ValidationMessageFor(model => model.EthanolDayRecovery, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-label-group">
                                    @Html.EditorFor(model => model.EthanolToDateRecovery, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.LabelFor(model => model.EthanolToDateRecovery)
                                    @Html.ValidationMessageFor(model => model.EthanolToDateRecovery, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <!-- Absolute Alcohol From B-Heavy-->
                        <div class="form-group row">
                            <div class="col-sm-4">
                                <div class="form-label-group">
                                    @Html.EditorFor(model => model.AbsoluteAlcoholFromBHeavy, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.LabelFor(model => model.AbsoluteAlcoholFromBHeavy)
                                    @Html.ValidationMessageFor(model => model.AbsoluteAlcoholFromBHeavy, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-label-group">
                                    @Html.EditorFor(model => model.AbsoluteAlcoholBHeavyDayRecovery, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.LabelFor(model => model.AbsoluteAlcoholBHeavyDayRecovery)
                                    @Html.ValidationMessageFor(model => model.AbsoluteAlcoholBHeavyDayRecovery, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-label-group">
                                    @Html.EditorFor(model => model.AbsoluteAlcoholBHeavyToDateRecovery, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.LabelFor(model => model.AbsoluteAlcoholBHeavyToDateRecovery)
                                    @Html.ValidationMessageFor(model => model.AbsoluteAlcoholBHeavyToDateRecovery, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <!--Absolute Alcohol Fro 'C' Heavy-->
                        <div class="form-group row">
                            <div class="col-sm-4">
                                <div class="form-label-group">
                                    @Html.EditorFor(model => model.AlcoholFromCHeavy, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.LabelFor(model => model.AlcoholFromCHeavy)
                                    @Html.ValidationMessageFor(model => model.AlcoholFromCHeavy, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-label-group">
                                    @Html.EditorFor(model => model.AbsoluteAlcoholCHeavyDayRecovery, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.LabelFor(model => model.AbsoluteAlcoholCHeavyDayRecovery)
                                    @Html.ValidationMessageFor(model => model.AbsoluteAlcoholCHeavyDayRecovery, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-label-group">
                                    @Html.EditorFor(model => model.AbsoluteAlcoholCHeavyToDateRecovery, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.LabelFor(model => model.AbsoluteAlcoholCHeavyToDateRecovery)
                                    @Html.ValidationMessageFor(model => model.AbsoluteAlcoholCHeavyToDateRecovery, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <!-- Absolute Alcohol-->
                        <div class="form-group row">
                            <div class="col-sm-4">
                                <div class="form-label-group">
                                    @Html.EditorFor(model => model.AbsoluteAlcohol, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })
                                    @Html.LabelFor(model => model.AbsoluteAlcohol)
                                    @Html.ValidationMessageFor(model => model.AbsoluteAlcohol, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-label-group">
                                    @Html.EditorFor(model => model.AbsoluteAlcoholDayRecovery, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.LabelFor(model => model.AbsoluteAlcoholDayRecovery)
                                    @Html.ValidationMessageFor(model => model.AbsoluteAlcoholDayRecovery, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-label-group">
                                    @Html.EditorFor(model => model.AbsoluteAlcoholToDateRecovery, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.LabelFor(model => model.AbsoluteAlcoholToDateRecovery)
                                    @Html.ValidationMessageFor(model => model.AbsoluteAlcoholToDateRecovery, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>