@model LitmusWeb.Models.UnitSeasonModel
@{
    ViewBag.Title = "Edit Unit Season";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Unit Seasons</h4>
                        <p class="card-description">
                            Master data of Unit's <strong>Crushing Seasons</strong>
                            @Html.ActionLink("Back to List", "Index", new { }, new { @class = " badge badge-pill badge-success mdi mdi-step-backward-2 float-right" })
                        </p>
                        @using (Html.BeginForm("Edit", "UnitSeason", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-label-group">
                                        @Html.EditorFor(x => x.Code, new { htmlAttributes = new { @class = "form-control", placeholder = "Code" } })
                                        @Html.LabelFor(x => x.Code)
                                        @Html.ValidationMessageFor(x => x.Code, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-label-group">
                                        @Html.EditorFor(x => x.Season, new { htmlAttributes = new { @class = "form-control", placeholder = "Code" } })
                                        @Html.LabelFor(x => x.Season)
                                        @Html.ValidationMessageFor(@x => x.Season, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-label-group">
                                        @Html.EditorFor(x => x.CrushingStartDateTime, new { htmlAttributes = new { @class = "form-control datetimepicker", placeholder = "Code" } })
                                        @Html.LabelFor(x => x.CrushingStartDateTime)
                                        @Html.ValidationMessageFor(x => x.CrushingStartDateTime, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-label-group">
                                        @Html.EditorFor(x => x.CrushingEndDateTime, new { htmlAttributes = new { @class = "form-control datetimepicker", placeholder = "Code" } })
                                        @Html.LabelFor(x => x.CrushingEndDateTime)

                                        @Html.ValidationMessageFor(x => x.CrushingEndDateTime, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-label-group">
                                        @Html.EditorFor(x => x.NewMillCapacity, new { htmlAttributes = new { @class = "form-control ", placeholder = "Code" } })
                                        @Html.LabelFor(x => x.NewMillCapacity)
                                        @Html.ValidationMessageFor(x => x.NewMillCapacity, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-label-group">
                                        @Html.EditorFor(x => x.OldMillCapacity, new { htmlAttributes = new { @class = "form-control", placeholder = "Code" } })
                                        @Html.LabelFor(x => x.OldMillCapacity)
                                        @Html.ValidationMessageFor(x => x.OldMillCapacity, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-label-group">
                                        @Html.EditorFor(x => x.ReportStartHourMinute, new { htmlAttributes = new { @class = "form-control timepicker", placeholder = "Code" } })
                                        @Html.LabelFor(x => x.ReportStartHourMinute)
                                        @Html.ValidationMessageFor(x => x.ReportStartHourMinute, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            @*<div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-label-group">
                                        @Html.EditorFor(x => x.CreatedAt, new { htmlAttributes = new { @class = "form-control timepicker", placeholder = "Created At", @readonly="true" } })
                                        @Html.LabelFor(x => x.CreatedAt)
                                        @Html.ValidationMessageFor(x => x.CreatedAt, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-label-group">
                                        @Html.EditorFor(x => x.CreatedBy, new { htmlAttributes = new { @class = "form-control timepicker", placeholder = "Created By", @readonly = "true" } })
                                        @Html.LabelFor(x => x.CreatedBy)
                                        @Html.ValidationMessageFor(x => x.CreatedBy, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>*@
                            <div class="form-row">
                                <div class="col-md-12">
                                    <div class="form-label-group">
                                        <div class="form-check form-check-inline">
                                            @Html.CheckBoxFor(x => x.DisableDailyProcess, new { @class = "form-check-input" })
                                            @Html.LabelFor(x => x.DisableDailyProcess, new { @class = "form-check-label" })
                                        </div>

                                        <div class="form-check form-check-inline">
                                            @Html.CheckBoxFor(x => x.DisableAdd, new { @class = "form-check-input" })
                                            @Html.LabelFor(x => x.DisableAdd, new { @class = "form-check-label" })
                                        </div>


                                        <div class="form-check form-check-inline">
                                            @Html.CheckBoxFor(x => x.DisableUpdate, new { @class = "form-check-input" })
                                            @Html.LabelFor(x => x.DisableUpdate, new { @class = "form-check-label" })
                                        </div>

                                    </div>

                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-12">
                                    <input type="submit" id="btnSubmit" name="btnSubmit" class="btn btn-inverse-warning" />
                                </div>
                                @Html.ValidationSummary("", new { htmlAttributes = new { @class = "text-danger" } })
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <link href="~/Content/MainContent/css/floating-labels.css" rel="stylesheet" />

