@model IEnumerable<LitmusWeb.Models.UnitSeasonModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Unit Seasons</h4>
                        <p class="card-description">
                            Master data of Unit's <strong>Crushing Seasons</strong>
                            @Html.ActionLink("Add New Season", "Create", new { }, new { @class = " badge badge-pill badge-success mdi mdi-step-backward-2 float-right" })
                        </p>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Unit Code</th>
                                        <th>Season Code</th>
                                        <th>Crushing Start</th>
                                        <th>Crushing End</th>
                                        <th>New Mill Capacity</th>
                                        <th>Old Mill Capacity</th>
                                        <th>Day Start Time</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(model => item.Code)</td>
                                            <td>@Html.DisplayFor(model => item.Season)</td>
                                            <td>@Html.DisplayFor(model => item.CrushingStartDateTime)</td>
                                            <td>@Html.DisplayFor(model => item.CrushingEndDateTime)</td>
                                            <td>@Html.DisplayFor(model => item.NewMillCapacity)</td>
                                            <td>@Html.DisplayFor(model => item.OldMillCapacity)</td>
                                            <td>@Html.DisplayFor(model => item.ReportStartHourMinute)</td>
                                            <td>@Html.ActionLink("Edit","Edit",new { id = item.id},new { @class= "btn btn-xs btn-info" })</td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

        