@using System.Web.Optimization
@model IEnumerable<LitmusWeb.Models.MasterCompanyModel>
@{
    ViewBag.Title = "Company Master";
    ViewBag.ContentHeading = "Company Master";
    ViewBag.PageName = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Static Table Start -->
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-lg-12 stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Company Details @Html.ActionLink("Add new", "Create", "Company", new { }, new { @class = "btn btn-success btn-rounded float-right" })</h4>
                        <p class="card-description">
                            Company Details <small>(Details of all companies)</small>
                        </p>
                        <div class="table-responsive pt-3">
                            <table class="table table-bordered table-striped">
                                <thead class="table-dark">
                                    <tr>
                                        <th data-field="id">@Html.DisplayNameFor(model => model.Code)</th>
                                        <th data-field="name">@Html.DisplayNameFor(model => model.Name)</th>
                                        <th data-field="address">@Html.DisplayNameFor(model => model.RegisteredAddress)</th>
                                        <th data-field="PAN">@Html.DisplayNameFor(model => model.PANNO)</th>
                                        <th data-field="TAN">@Html.DisplayNameFor(model => model.TANNO)</th>
                                        <th data-field="state">@Html.DisplayNameFor(model => model.IsActive)</th>
                                        <th data-field="action" colspan="2">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelitem => item.Code)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelitem => item.Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelitem => item.RegisteredAddress)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelitem => item.PANNO)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelitem => item.TANNO)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelitem => item.IsActive)
                                            </td>
                                            <td>
                                                @Html.ActionLink("Edit", "Edit", new { id = item.Code }, new { @class = "btn btn-success btn-xs" })
                                            </td>
                                            <td>
                                                @Html.ActionLink("Delete", "Delete", new { id = item.Code }, new { @class = "btn btn-danger btn-xs" })
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
